* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left_col {
  display: flex;
  background-color: #f7f8fb;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.right_col {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login_form {
  padding: 2rem;
  width: 26rem;
  // background-color: white;
  background-color: aqua;
  border-radius: 5px;
  box-shadow: 0 0 20px 1px gray;

  .about {
    margin-top: 1rem;
    background-color: #f7f8fb;
    padding: 1rem;
    border-radius: 8px;
  }

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input_form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    label {
      color: gray;
      text-align: left;
    }

    .forgot {
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: #434cf5;
      }
    }

    input {
      border-radius: 5px;
      margin-bottom: 1rem;
      background: transparent;
      padding: 0.5rem;
    }

    .btn {
      margin-top: 0.5rem;
      color: white;
      font-weight: 600;
      background-color: #ff5668;
      font-size: 15px;
      padding: 0.6rem;
      border-radius: 50px;
      width: 6.5rem;
      border: none;
      cursor: pointer;
    }

    .btn:hover {
      outline-style: solid;
      outline-color: cyan;
    }
  }

  .dividing_line {
    margin-top: 2rem;
    overflow: hidden;
    text-align: center;
    color: #141414;
    font-size: 16px;
    font-weight: 500;
  }
  .dividing_line:before,
  .dividing_line:after {
    background-color: #e3e8ec;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .dividing_line:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .dividing_line:after {
    left: 0.5em;
    margin-right: -50%;
  }

  .options {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    .icons {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      a {
        margin-left: 15px;
      }
    }
  }

  .create {
    margin-top: 10px;
    text-align: start;

    a {
      text-decoration: none;
      color: #434cf5;
    }
  }
}
