:root {
  --primary: #ff4c29;
  --secondary: #0e0e0e;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: var(--secondary);
  box-sizing: border-box;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
  font-family: "Josefin Sans", Arial;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

// .body {
// background: #abf7ff;
// }

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

// h1 {
//   font-family: monospace;
// }

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  align-items: center;
  z-index: 2;
}

.header .links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .links li {
  margin: 0 2rem;
  list-style-type: none;
  transition: none;
  cursor: pointer;
}

.header .links li:hover {
  color: #ff4c29;
}

.header .links .profile {
  width: 30px;
  background: #fdf5ca;
  border-radius: 50%;
}

.header .logo {
  font-family: "Josefin Sans", Arial;
  font-size: 30px;
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
  }

  .header .logo {
    margin-bottom: 1rem;
    color: var(--primary);
  }
}

.card_container {
  // width: 100%;
  // height: 100%;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card_head {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.small {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.gift_card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 82px 40px;
  margin: 20px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.gift_card1:hover {
  // border: 4px solid #1b1a1a;
  border-radius: 10px;
  .small {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  .card_head {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

.gift_card2 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 82px 40px;
  margin: 20px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #dd53cb;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.gift_card2:hover {
  // border: 4px solid #1b1a1a;
  border-radius: 10px;
  .small {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  .card_head {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

.go-corner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #dd53cb;
  border-radius: 0 4px 0 32px;
}

.go-arrow2 {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
